*.tfrecord
*.preds
*.targets
ogs
.idea
*.ipynb
dates.csv
slurm_reports/*

**/*DS_Store

*DS_Store
*.csv
.snakemake/code_tracking
.snakemake/input_tracking
.snakemake/*
**/.snakemake/**
**/grid/**/.snakemake
grid/*
plots
experiment_params.yaml
model.pyc
*.*~
__pycache__~
**/__pycache__~
**/__pycache__/*~
__pycache__/*~
**__pycache__/*~
